body {
  align-items: center;
}

section {
  background-color: rgb(207, 42, 199);
}

.profession-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 40vh;
  padding-top: 20px;
}

.contact-info {
  background-color: pink;
  display: flex;
  justify-content: center;
}

.contact-info ul li {
  background-color: yellow;
  display: flex;
  justify-content: center;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

/* picture */
.profile-pic {
  border-radius: 50%;
}
