body {
  background-color: chartreuse;
  align-items: center;
}

section {
  background-color: rgb(207, 42, 199);
}

.profession-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 40vh;
  padding-top: 20px;
}
.contact-info {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

/* picture */
.profile-pic {
  border-radius: 50%;
}
