body {
  align-items: center;
}

section {
  background-color: rgb(207, 42, 199);
}

.profession-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 40vh;
  padding-top: 20px;
  font-size: 200%;
}

.contact-info ul li {
  background-color: yellow;
  display: flex;
  justify-content: center;
  list-style: none;
}

.big-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;
  border: 1px solid black;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0px;
  align-items: center;
  list-style: none;
}

.contact-info-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: pink;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 150px;
}

.get-in-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.get-in-touch {
  font-size: 3em;
}

/* picture */
.profile-pic {
  border-radius: 50%;
}
.pic-container {
  background-color: black;
}
